@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.option-btn {
    background-color: #64d4c7; 
    color: white;
}

.option-btn-library {
    background-color: #ecc113; 
    color: white;
}

.option-btn-artists {
    background-color: #1fad1f; 
    color: white;
}

.option-btn-genres {
    background-color: palevioletred;
    color: white;
}

.info-lead {
    color: black;
}

.info-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.form-container {
    margin-left: 200px;
    margin-right: 200px;
}


.info-jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 1000px;
    margin: 0 auto;
    background-color:  #e472bf;
}

.form-jumbotron {
    margin-left: 10px;
    margin-right: 10px; 
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 200px;
    padding-right: 200px;
    width: 1000px;
    margin: 0 auto;
    margin: 0 auto;
}

.row-buffer { 
    margin: 7px; 
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.profile-nav-img {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-right: 0px;
    height: 45px;
    width: 45px;
}


.focus-jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fbeefb;
    width: 1000px;
    margin: 0 auto;
}

.profile-name {
    font-family: 'Tangerine', cursive;
    color: #64d4c7;
    padding-left: 0px;
    font-size: 48px;
}

.profile-img {
    height: 200px;
    width: 200px;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.profile-text {
    font-family: 'Overlock', cursive;
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin: 8px;
}

.normal-text-navbar {
    font-family: 'Overlock', cursive;
    color: #e472bf;
    font-size: 18px;
}

.normal-text{
    font-family: 'Overlock', cursive;
    color: white;
   
}

.title-text {
    font-family: 'Tangerine', cursive;
    color: #64d4c7;
    font-size: 28px;
}

.profile-text-entity {
    padding-bottom: 7px;
}

.profile-value {
    color: green;
}

.profile-none {
color: red;
}