{% extends 'bootstrap/base.html' %}

{% block title %}
    Mago
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md fixed-top" style="background-color: black;">
    <a class="navbar-brand title-text" href="{{ url_for('index') }}">Mago</a>
    <div class="container">
        <div class="collapse navbar-collapse normal-text-navbar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav normal-text-navbar">
                <li><a href="{{ url_for('top_tracks') }}" class="normal-text-navbar">Top Tracks</a></li>
                <li><a href="{{ url_for('top_genres') }}" class="normal-text-navbar">Top Genres</a></li>
                <li><a href="{{ url_for('top_artists') }}" class="normal-text-navbar">Top Artists</a></li>
                <li><a href="{{ url_for('create_playlists') }}" class="normal-text-navbar">Organize</a></li>
                <li><a href="{{ url_for('get_recommendations') }}" class="normal-text-navbar">Recommendations</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right normal-text-navbar">
                    <li><img alt="Profile" class="profile-nav-img" src="{{ user['image'] }}"></li>
                    <li><a href="{{ url_for('index') }}">{{ user['name'] }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
{% endblock %}