{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Organize Your Playlists
{% endblock %}

{% block content %}
    <form action="" method="POST">
        {{ form.csrf_token() }}
        <div class="container info-container"> 
            <div class="jumbotron  form-jumbotron">
                <h2 class="info-lead section-header">Organize Your Playlist</h2>
                <h3 class="normal-text">Create a unique playlist of a single track or genre, based on all the tracks
                    on your saved library and your playlists
                </h3>


                <div class="row">
                    <div class="col-md-4 form-entry">
                        {{ wtf.form_field(form.input) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-entry">
                        {{ wtf.form_field(form.name) }}
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn option-btn" type="submit" name="track-artist">Create Playlist of An Artist</button>
                    <button class="btn option-btn" type="submit" name="track-genre">Create Playlist of A Genre</button>
                    <button class="btn option-btn" type="submit" name="combined-track-artist">Create Artist Including Playlists</button>
                    <button class="btn option-btn" type="submit" name="combined-track-genre">Create Genre Including Playlists</button>
                </div>

            </div>
        </div>

    </form>

    {% if message %}
    <div class="container text-center jumbotron-fluid info-container normal-text">
        <div class="jumbotron info-jumbotron">
        <h3 class="info-lead"> {{ message }}</h3>

        </div>
    </div>
    {% endif %}

{% endblock %}