{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Mago{% else %}Welcome to Mago{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-md fixed-top" style="background-color: black;">
    <a class="navbar-brand title-text" href="{{ url_for('index') }}">Mago</a>
</nav>
{% endblock %}

{% block content %}
<div class="container text-center info-container">
    <div class="jumbotron login-jumbotron normal-text">
        <h2 class="title-page">
            Mago
        </h2>
        <h3 class="title-page-text">
           Uncover your listening habits, organize your library and discover new music<br>
        </h3>

        <a class="btn login-btn normal-text" href="{{ login_url }}">Sign in with Spotify</a>
    </div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
{% endblock %}