{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <form action="" method="post">
        <button class="btn option-btn" type="submit" name="short-term">Get Short Term Tracks</button>
        <button class="btn option-btn" type="submit" name="medium-term">Get Medium Term Tracks</button>
        <button class="btn option-btn" type="submit" name="long-term">Get Long Term Tracks</button>
    </form>
</div>

<div class="container text-center info-container">
    <div class="jumbotron info-jumbotron normal-text">
        <h2 class="info-lead">
        {% if time_range == 'short_term' %}
        Your Top Tracks in the last month
        {% elif time_range == 'medium_term' %}
        Your Top Tracks in the last six months
        {% elif time_range == 'long_term' %}
        Your Top Tracks of all time
        {% else %}
        Pick One of the Options Above 
        {% endif %}
        </h2>

        {% if tracks %}
            {% for track in tracks %}
                <h4><b class="info-lead">{{ loop.index }} &nbsp;&nbsp;</b> {{ track['name'] }} - {{ track['artists'][0]['name'] }}</h4>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

